@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --mainColor: #543A14;
    --background: #131010;
    --sideFont: #F0BB78;
    --pFont: #FFF0DC;
    --shadow: 0px 4px 8px 0 #FFF0DC(21, 21, 21, .2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: normal;
    background-color: var(--background);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Utility Classes */
.container {
    max-width: 1080px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.full-screen {
    min-height: 100vh;
    padding: 80px 0 0;
}

/* Navigation Styles */
.navbar {
    width: 100%;
    background-color: var(--background);
    position: fixed;
    z-index: 999;
    padding: 25px;
}

.navbar .logo {
    color: var(--sideFont);
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
}

.navbar .logo span {
    color: var(--mainColor);
}

.navbar .container {
    padding: 0 25px;
}

.navbar .menu-btn i {
    color: var(--sideFont);
    font-size: 28px;
    cursor: pointer;
    display: none;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
}

.navbar ul li {
    margin: 0 5px;
}

.navbar ul li a {
    color: var(--sideFont);
    font-size: 16px;
    font-weight: 600;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all .3s ease;
}

.navbar ul li a.active,
.navbar ul li a:hover {
    color: var(--mainColor);
    background: var(--sideFont);
}

/* Main Content Styles */
.main-content {
    display: flex;
    flex-wrap: wrap;
}

.left-content,
.right-content {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 20px;
}

.left-content .line {
    width: 15%;
    height: 2px;
    background-color: var(--mainColor);
    display: inline-block;
}

.left-content h2 {
    margin-top: 25px;
    font-size: 50px;
    color: var(--sideFont);
    line-height: 55px;
}

.left-content h2 span {
    color: var(--mainColor);
    font-size: 52px;
}

.left-content p {
    color: var(--pFont);
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn {
    height: 44px;
    padding: 0px 30px;
    background-color: var(--background);
    border-radius: 4px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--sideFont);
    letter-spacing: 1px;
    border: none;
    margin-top: 15px;
    box-shadow: 0px 8px 24px 0 #f0bc78(245, 245, 245, 0.2);
    transition: all .2s linear;
}
.con{
    height: 44px;
    padding: 0px 30px;
    background-color: var(--mainColor);
    border-radius: 4px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--sideFont);
    letter-spacing: 1px;
    border: none;
    margin-top: 15px;
    box-shadow: 0px 8px 24px 0 #f0bc78(245, 245, 245, 0.2);
    transition: all .2s linear;
}

.btn:hover {
    background-color: var(--sideFont);
    color: var(--mainColor);
    box-shadow: 0 8px 24px 0 rgba(138, 140, 146, .2);
}

.social-media {
    margin-top: 60px;
}

.social-media a {
    color: var(--sideFont);
    margin-right: 22px;
    font-size: 22px;
    text-decoration: none;
    transition: all .2s linear;
}

.social-media a:hover {
    color: var(--mainColor);
}

/* Form Styles */
.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.right-content h4 {
    font-weight: 600;
    color: var(--sideFont);
}

.right-content h6 {
    color: var(--sideFont);
    margin-bottom: 30px;
}

.right-content h6 span {
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}

input[type="checkbox"] {
    display: none;
}

.checkbox:checked+label,
.checkbox:not(:checked)+label {
    position: relative;
    display: block;
    text-align: center;
    width: 60px;
    height: 16px;
    border-radius: 8px;
    background-color: var(--mainColor);
    padding: 0;
    margin: 10px auto;
    cursor: pointer;
}

.checkbox:checked+label::before,
.checkbox:not(:checked)+label::before {
    position: absolute;
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: var(--mainColor);
    background-color: var(--sideFont);
    font-family: 'Material Icons';
    content: '\f1e2';
    z-index: 20;
    top: -10px;
    left: -10px;
    line-height: 36px;
    text-align: center;
    font-size: 24px;
    transition: all .5s ease;
}

.checkbox:checked+label::before {
    transform: translateX(44px) rotate(-270deg);
}

.link {
    color: var(--pFont);
    margin-top: 20px;
    display: block;
}

.link:hover {
    color: var(--mainColor);
}

/* 3D Card Styles */
.card-3d-wrap {
    position: relative;
    width: 400px;
    max-width: 100%;
    height: 400px;
    margin-top: 60px;
    transform-style: preserve-3d;
    perspective: 800px;
}

.card-3d-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transition: all .6s ease-out;
}

.checkbox:checked~.card-3d-wrap .card-3d-wrapper {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    background-color: #543A14;
    background-image: url('./background.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 300%;
    position: absolute;
    border-radius: 6px;
    left: 0;
    top: 0;
    transform-style: preserve-3d;
}

.card-back {
    transform: rotateY(180deg);
}

.center-wrap {
    position: absolute;
    width: 100%;
    padding: 0 35px;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 35px) perspective(100px);
    display: block;
    z-index: 20;
}

.heading {
    margin-bottom: 20px;
    font-size: 24px;
    text-transform: uppercase;
}

.form-group {
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.form-group input::placeholder {
    color: var(--pFont);
    opacity: .7;
    transition: all .2s linear;
}

.form-group input:focus::placeholder {
    opacity: 0;
    transition: all .2s linear;
}

.form-style {
    padding: 13px 20px;
    padding-left: 55px;
    height: 48px;
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: var(--pFont);
    background-color: #131010;
    border: none;
    box-shadow: var(--shadow);
}

.form-style:focus,
.form-style:active {
    border: none;
    outline: none;
    box-shadow: var(--shadow);
}

.input-icon {
    position: absolute;
    top: 12px;
    left: 18px;
    height: 48px;
    font-size: 24px;
    text-align: left;
    color: var(--mainColor);
    transition: all .2s linear;
}

/*Media Query */
@media (max-width: 992px) {
    .navbar .menu-btn i {
        display: block;
    }

    .navbar .container {
        padding: 0;
    }

    .navbar ul {
        position: fixed;
        top: 85px;
        left: -100%;
        background-color: #131010;
        height: 320px;
        width: 100%;
        display: block;
        text-align: center;
        transition: all .3s ease;
    }

    #click:checked~ul {
        left: 0;
    }

    .navbar ul li {
        margin: 20px 0;
    }

    .navbar ul li a {
        display: block;
        font-size: 20px;
    }

    .navbar ul li a.active,
    .navbar ul li a:hover {
        background: none;
        color: var(--mainColor);
    }

    .left-content h2 {
        font-size: 40px;
    }

    .left-content h2 span {
        font-size: 42px;
    }

    .left-content p {
        font-size: 14px;
    }

    .card-3d-wrap {
        width: 350px;
    }
}

@media (max-width: 768px) {
    .left-content,
    .right-content {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .left-content {
        display: grid;
        place-items: center;
        order: 2;
    }

    .right-content {
        order: 1;
    }

    .left-content h2 {
        text-align: center;
    }
}

@media (max-width: 400px) {
    .left-content h2 {
        font-size: 28px;
    }

    .left-content h2 span {
        font-size: 30px;
    }

    .card-3d-wrap {
        width: 300px;
    }
}